[submodule "ascendex-api"]
	path = ascendex-api
	url = https://github.com/AscendEX/ascendex-pro-api-demo.git
[submodule "ascendex-futures-api"]
	path = ascendex-futures-api
	url = https://github.com/AscendEX/ascendex-futures-pro-api-v2.git
[submodule "bitget-api-sdk"]
	path = bitget-api-sdk
	url = https://github.com/BitgetLimited/v3-bitget-api-sdk.git
[submodule "alpaca-api"]
	path = alpaca-api
	url = https://github.com/alpacahq/Alpaca-API.git
[submodule "biconomy-api"]
	path = biconomy-api
	url = https://github.com/BiconomyOfficial/APIDocs.git
[submodule "bitunix-api"]
	path = bitunix-api
	url = https://github.com/BitunixOfficial/open-api.git
[submodule "btctrader-api-docs"]
	path = btctrader-api-docs
	url = https://github.com/BTCTrader/broker-api-docs.git
[submodule "bingx-api-docs"]
	path = bingx-api-docs
	url = https://github.com/BingX-API/docs.git
[submodule "bingx-swap-api-doc"]
	path = bingx-swap-api-doc
	url = https://github.com/BingX-API/BingX-swap-api-doc.git
[submodule "bingx-standard-contract-doc"]
	path = bingx-standard-contract-doc
	url = https://github.com/BingX-API/BingX-Standard-Contract-doc.git
[submodule "binance-futures-connector-python"]
	path = binance-futures-connector-python
	url = https://github.com/binance/binance-futures-connector-python.git
[submodule "binance-us-api-docs"]
	path = binance-us-api-docs
	url = https://github.com/binance-us/binance-us-api-docs.git
[submodule "coinex-api-docs"]
	path = coinex-api-docs
	url = https://github.com/coinexcom/coinex_exchange_api.git
[submodule "huobi-api-docs"]
	path = huobi-api-docs
	url = https://github.com/huobiapi/docs.git
[submodule "whitebit-api-docs"]
	path = whitebit-api-docs
	url = https://github.com/whitebit-exchange/api-docs.git
[submodule "whitebit-docs"]
	path = whitebit-docs
	url = https://github.com/whitebit-exchange/api-docs.git
[submodule "blofin-docs"]
	path = blofin-docs
	url = https://github.com/blofin/blofin-api-docs.git
[submodule "bitfinex-docs"]
	path = bitfinex-docs
	url = https://github.com/bitfinexcom/bitfinex-api-node.git
