[submodule "ascendex-api"]
	path = ascendex-api
	url = https://github.com/AscendEX/ascendex-pro-api-demo.git
[submodule "ascendex-futures-api"]
	path = ascendex-futures-api
	url = https://github.com/AscendEX/ascendex-futures-pro-api-v2.git
[submodule "bitget-api-sdk"]
	path = bitget-api-sdk
	url = https://github.com/BitgetLimited/v3-bitget-api-sdk.git
[submodule "alpaca-api"]
	path = alpaca-api
	url = https://github.com/alpacahq/Alpaca-API.git
[submodule "biconomy-api"]
	path = biconomy-api
	url = https://github.com/BiconomyOfficial/APIDocs.git
[submodule "bitunix-api"]
	path = bitunix-api
	url = https://github.com/BitunixOfficial/open-api.git
[submodule "btctrader-api-docs"]
	path = btctrader-api-docs
	url = https://github.com/BTCTrader/broker-api-docs.git
