openapi: 3.0.0
info:
  version: 1.0.0
  title: Wallet API
  description: API for managing wallet, withdrawals, deposits, and transfers.
  contact:
    email: developer@big.one
servers:
  - url: 'https://api.big.one/api/v3'
tags:
  - name: Funding Account
    description: Funding Account Balances
  - name: Transfer
    description: Wallet Transfers
  - name: Withdrawal
    description: Wallet Withdrawals
  - name: Deposit
    description: Wallet Deposits

paths:
  /viewer/fund/accounts:
    get:
      tags:
        - Funding Account
      summary: Get All Funding Accounts
      description: Returns all funding accounts for the user.
      operationId: getFundingAccounts
      security:
        - bearerAuth:
          - view account balance information
      responses:
        '200':
          description: List of funding accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpotAccount'
  /viewer/fund/accounts/{asset_symbol}:
    get:
      tags:
        - Funding Account
      summary: Get Funding Account by Symbol
      description: Returns a specific funding account.
      operationId: getFundingAccountBySymbol
      security:
        - bearerAuth:
          - view account balance information
      parameters:
        - in: path
          name: asset_symbol
          required: true
          schema:
            type: string
          example: BTC
      responses:
        '200':
          description: Funding Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpotAccount'
  /viewer/transfer:
    get:
      tags:
        - Transfer
      summary: Get Transfer Info
      description: Returns transfer information by GUID.
      operationId: getTransfer
      security:
        - bearerAuth:
          - view account balance information
      parameters:
        - in: query
          name: guid
          required: true
          description: The unique identifier of the transfer to retrieve.
          schema:
            type: string
          example: d7d98a2c-982d-4537-9755-2253df649646
      responses:
        '200':
          description: Transfer info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferInfo'
    post:
      tags:
        - Transfer
      summary: Create Transfer
      description: |
        Creates a new transfer between accounts.

        **Master Account Capabilities:**
        *   **Internal Transfer**: Move funds between your own Spot, Fund, and Contract wallets.
        *   **Sub-Account Transfers**:
            *   **Inbound**: Transfer from a Sub-account (Spot/Fund) to the Master account.
            *   **Outbound**: Transfer from the Master account to a Sub-account (Spot/Fund).
            *   **Sub-Account Internal**: Initiate transfers between a Sub-account's own wallets (e.g., Spot to Contract).

        **Sub-Account Capabilities:**
        *   **Internal Transfer**: Move funds between your own Spot, Fund, and Contract wallets.
      operationId: createTransfer
      security:
        - bearerAuth:
          - view account balance information
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferBody'
      responses:
        '200':
          description: Transfer created successfully. The response body is a standard success structure with an empty `data` field.

  /viewer/deposits:
    get:
      tags:
        - Deposit
      summary: Get User Deposit History
      description: Returns a paginated list of the authenticated user's deposit history, ordered by creation time (newest first).
      operationId: getDeposits
      parameters:
        - in: query
          name: asset_symbol
          description: The asset symbol to filter by (e.g., BTC, EOS). Optional.
          required: false
          schema:
            type: string
          example: BTC
        - in: query
          name: kind
          description: The deposit type to filter by (e.g., "on_chain", "internal", "off_chain"). Optional.
          required: false
          schema:
            type: string
          example: "on_chain"
        - in: query
          name: txid
          description: The blockchain transaction ID to filter by. Optional.
          required: false
          schema:
            type: string
          example: "513b80e5619155b24fbf0412d59f6256f86b0d69"
        - in: query
          name: page_token
          description: Pagination token obtained from the previous response. Use to retrieve the next page.
          required: false
          schema:
            type: string
          example: "eyJvZmZzZXQiOjEwMCwia2luZCI6IlRSQU5TRkVSIn0="
      responses:
        '200':
          description: List of deposits
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Deposit'
      security:
        - bearerAuth:
          - view deposit history

  /viewer/assets/{asset_symbol}/address:
    get:
      tags:
        - Deposit
      summary: Get Deposit Address
      description: 'Returns the deposit address for a specific asset. Required **wallet:read** scope.'
      operationId: getDepositAddress
      parameters:
        - in: path
          name: asset_symbol
          required: true
          description: The symbol of the asset.
          schema:
            type: string
          example: BTC
      responses:
        '200':
          description: Deposit address list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepositAddress'
      security:
        - bearerAuth:
          - view deposit address

  /viewer/withdrawals:
    get:
      tags:
        - Withdrawal
      summary: Get User Withdrawal History
      description: Returns a paginated list of the authenticated user's withdrawal history, ordered by creation time (newest first).
      operationId: getWithdrawal
      parameters:
        - in: query
          name: asset_symbol
          description: The asset symbol to filter by (e.g., BTC, EOS). Optional.
          required: false
          schema:
            type: string
          example: EOS
        - in: query
          name: kind
          description: The withdrawal type to filter by (e.g., "on_chain", "internal", "off_chain"). Optional.
          required: false
          schema:
            type: string
          example: on_chain
        - in: query
          name: txid
          description: The blockchain transaction ID to filter by. Optional.
          required: false
          schema:
            type: string
          example: "0x0437cd7f8525ceed2324359c2d0ba26006d92d856a9c20fa0241106ee5a597c9"
        - in: query
          name: page_token
          description: Pagination token obtained from the previous response. Use to retrieve the next page.
          required: false
          schema:
            type: string
          example: "eyJvZmZzZXQiOjEwMCwia2luZCI6IlRSQU5TRkVSIn0="
      responses:
        '200':
          description: List of withdrawals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Withdrawal'
      security:
        - bearerAuth:
          - view withdrawal history
    post:
      tags:
        - Withdrawal
      summary: Create Withdrawal
      description: |
        Creates a new withdrawal request.

        **Requirements:**
        - The destination address must be in the user's whitelist
        - The asset must support withdrawals on the specified network

        **Note:** The destination address must be pre-configured in the user's whitelist address settings.
      operationId: createWithdrawal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWithdrawalBody'
      responses:
        '200':
          description: Withdrawal created successfully. Returns the withdrawal details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
      security:
        - bearerAuth:
          - execute withdrawals

  /viewer/withdrawals/{guid}:
    get:
      tags:
        - Withdrawal
      summary: Get Withdrawal by GUID
      description: Returns detailed information about a specific withdrawal by its unique identifier.
      operationId: getWithdrawalByGuid
      parameters:
        - in: path
          name: guid
          required: true
          description: The unique withdrawal identifier.
          schema:
            type: string
          example: "c37173f4-751f-4cc1-9904-c1041dcae4f7"
      responses:
        '200':
          description: Withdrawal details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
      security:
        - bearerAuth:
          - view withdrawal history

  /viewer/withdrawals/{guid}/cancel:
    post:
      tags:
        - Withdrawal
      summary: Cancel Withdrawal
      description: |
        Submits a cancellation request for a pending withdrawal.

        **Requirements:**
        - The withdrawal must be in a cancellable state (typically PENDING state with no txid)
        - Only withdrawals that haven't been broadcast to the blockchain can be cancelled

        :::warning[Asynchronous Operation]
        A successful response indicates that the cancellation request has been accepted, not that the withdrawal has been cancelled. Use the [Get Withdrawal by GUID](./get-withdrawal-by-guid) endpoint to verify the final status.
        :::
      operationId: cancelWithdrawalByGuid
      parameters:
        - in: path
          name: guid
          required: true
          description: The unique identifier of the withdrawal to cancel.
          schema:
            type: string
          example: "c37173f4-751f-4cc1-9904-c1041dcae4f7"
      responses:
        '200':
          description: Cancellation request accepted. The response body is a standard success structure with an empty `data` field.
      security:
        - bearerAuth:
          - execute withdrawals

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    SpotAccount:
      type: object
      properties:
        asset_symbol:
          type: string
          example: BTC
        balance:
          type: string
          example: '10.034'
        locked_balance:
          type: string
          example: '0'
    CreateTransferBody:
      type: object
      required: [symbol, amount, guid, from, to]
      properties:
        symbol:
          type: string
          description: The asset symbol (e.g., 'BTC', 'USDT').
          example: USDT
        amount:
          type: string
          description: The amount to transfer.
          example: '100.50'
        guid:
          type: string
          description: A unique identifier for the transfer request, limited to 36 characters.
          example: d7d98a2c-982d-4537-9755-2253df649646
        from:
          type: string
          description: The source account type.
          enum: [SPOT, FUND, CONTRACT]
          example: SPOT
        to:
          type: string
          description: The destination account type.
          enum: [SPOT, FUND, CONTRACT]
          example: FUND
        type:
          type: string
          description: The transfer type.
          enum: [NORMAL, MASTER_TO_SUB, SUB_TO_MASTER, SUB_INTERNAL]
          default: NORMAL
          example: NORMAL
        sub_account:
          type: string
          description: The sub-account ID, required if type is not NORMAL.
          example: '123456'
    TransferInfo:
      description: Detailed information about a transfer.
      type: object
      properties:
        guid:
          type: string
          description: The unique identifier provided during the transfer creation.
          example: d7d98a2c-982d-4537-9755-2253df649646
        symbol:
          type: string
          description: The asset symbol.
          example: USDT
        amount:
          type: string
          description: The transferred amount.
          example: '100.50'
        state:
          type: string
          description: The current state of the transfer.
          enum: [PENDING, SUCCEED, FAILED]
          example: SUCCEED
        created_at:
          type: string
          description: The timestamp when the transfer was created (ISO 8601).
          example: '2021-01-01T12:00:00Z'
        updated_at:
          type: string
          description: The timestamp when the transfer was last updated (ISO 8601).
          example: '2021-01-01T12:00:05Z'
    Deposit:
      type: object
      description: Deposit record details.
      properties:
        id:
          type: integer
          description: The unique deposit ID.
          format: int64
          example: 6
        amount:
          type: string
          description: The deposit amount.
          example: "14.0"
        confirms:
          type: integer
          description: The number of blockchain confirmations received.
          format: int64
          example: 100
        txid:
          type: string
          description: The blockchain transaction ID. Null for internal transfers.
          example: "513b80e5619155b24fbf0412d59f6256f86b0d69"
          nullable: true
        is_internal:
          type: boolean
          description: Whether this is an internal transfer (from another BigONE user).
          example: false
        inserted_at:
          type: string
          description: The timestamp when the deposit was recorded (ISO 8601).
          format: date-time
          example: "2018-02-14T11:23:54.000Z"
        updated_at:
          type: string
          description: The timestamp when the deposit was last updated (ISO 8601).
          format: date-time
          example: "2018-09-21T08:28:57.000Z"
        kind:
          type: string
          description: The deposit type (e.g., "on_chain", "internal", "off_chain").
          example: "on_chain"
        memo:
          type: string
          description: The memo or tag associated with the deposit (if applicable).
          example: "123456"
          nullable: true
        state:
          type: string
          description: The current deposit state.
          enum:
            - PENDING
            - WITHHOLD
            - CANCELLED
            - COMPLETED
          example: WITHHOLD
        asset_symbol:
          type: string
          description: The asset symbol (e.g., BTC, EOS).
          example: BTS
        target_account:
          type: string
          enum: [SPOT, FUND]
          description: The account that received the deposit.
          example: FUND
    Withdrawal:
      type: object
      description: Withdrawal record details.
      properties:
        id:
          type: integer
          description: The unique withdrawal ID.
          format: int64
          example: 210496
        customer_id:
          type: integer
          description: The customer ID who initiated the withdrawal.
          format: int64
          example: 123456
        asset_symbol:
          type: string
          description: The asset symbol (e.g., EOS, BTC).
          example: EOS
        amount:
          type: string
          description: The withdrawal amount.
          example: "200.124"
        txid:
          type: string
          description: The blockchain transaction ID. Empty if internal transfer or pending.
          example: "0x0437cd7f8525ceed2324359c2d0ba26006d92d856a9c20fa0241106ee5a597c9"
        is_internal:
          type: boolean
          description: Whether this is an internal transfer (to another BigONE user).
          example: false
        kind:
          type: string
          description: The withdrawal type (e.g., "on_chain", "internal", "default").
          example: "on_chain"
        target_address:
          type: string
          description: The destination wallet address.
          example: "0x3c35858196C43e9Db361445dAc49Df61a177629b"
        memo:
          type: string
          description: The memo or tag for the destination address (if required).
          example: "123456"
        state:
          type: string
          description: The current withdrawal state.
          enum:
            - PENDING
            - FAILED
            - COMPLETED
            - CANCELLED
          example: COMPLETED
        fee:
          type: string
          description: The withdrawal fee deducted from the amount.
          example: "0.01"
        inserted_at:
          type: string
          description: The timestamp when the withdrawal was created (ISO 8601).
          format: date-time
          example: "2021-01-01T12:00:00Z"
        updated_at:
          type: string
          description: The timestamp when the withdrawal was last updated (ISO 8601).
          format: date-time
          example: "2021-01-01T12:00:05Z"
        completed_at:
          type: string
          description: The timestamp when the withdrawal was completed (ISO 8601). Null if not yet completed.
          format: date-time
          nullable: true
          example: "2021-01-01T12:10:00Z"

    CreateWithdrawalBody:
      type: object
      required:
        - symbol
        - amount
        - target_address
      properties:
        symbol:
          type: string
          description: The asset symbol (e.g., EOS, BTC).
          example: EOS
        amount:
          type: string
          description: The amount to withdraw.
          example: "100.00"
        target_account:
          type: string
          description: The source account for withdrawal deduction.
          enum: [ SPOT, FUND ]
          default: FUND
        target_address:
          type: string
          description: The destination wallet address.
          example: "0x3c35858196C43e9Db361445dAc49Df61a177629b"
        memo:
          type: string
          description: The memo or tag for the destination address (if required by the asset).
          example: "123456"
        guid:
          type: string
          description: A unique identifier for the withdrawal request (max 36 characters).
          example: "c37173f4-751f-4cc1-9904-c1041dcae4f7"
        gateway_name:
          type: string
          description: |
            The gateway name (chain/network) identifier, e.g., "Ethereum", "BinanceSmartChain", "Tron", "Mixin".

            This specifies which blockchain network to use for the withdrawal. Available gateways depend on the asset.
          example: "Ethereum"
    DepositAddress:
      type: object
      description: A deposit address for receiving assets on a specific chain.
      properties:
        id:
          type: integer
          description: The unique address identifier.
          format: int64
          example: 1
        chain:
          type: string
          description: The chain/network name (e.g., BTC, Ethereum, Tron).
          example: BTC
        value:
          type: string
          description: The deposit address value.
          example: "1EVzaFkkNNXq6RJh2oywwJMn8JPiq8ikDi"
        memo:
          type: string
          description: The memo or tag for the deposit address (if required by the asset, e.g., EOS, XRP).
          example: "123456"
          nullable: true
